USE [master]
GO
/****** Object:  Database [qlthuvien]    Script Date: 4/16/2025 10:06:33 AM ******/
CREATE DATABASE [qlthuvien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'qlthuvien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ZHENG\MSSQL\DATA\qlthuvien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'qlthuvien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ZHENG\MSSQL\DATA\qlthuvien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [qlthuvien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [qlthuvien]
GO
/****** Object:  Table [dbo].[BANGCAP]    Script Date: 4/16/2025 10:06:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGCAP](
	[MaBangCap] [int] IDENTITY(1,1) NOT NULL,
	[TenBangCap] [nvarchar](40) NULL,
 CONSTRAINT [PK_BANGCAP] PRIMARY KEY CLUSTERED 
(
	[MaBangCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUMUON]    Script Date: 4/16/2025 10:06:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUMUON](
	[MaSach] [int] NOT NULL,
	[MaPhieuMuon] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETPHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC,
	[MaPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 4/16/2025 10:06:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MaDocGia] [int] IDENTITY(1,1) NOT NULL,
	[HoTenDocGia] [nvarchar](40) NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Email] [nvarchar](30) NULL,
	[NgayLapThe] [datetime] NULL,
	[NgayHetHan] [datetime] NULL,
	[TienNo] [float] NULL,
 CONSTRAINT [PK_DOCGIA] PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/16/2025 10:06:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[HoTenNhanVien] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [nvarchar](15) NULL,
	[MaBangCap] [int] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 4/16/2025 10:06:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[MaNXB] [char](7) NOT NULL,
	[TenNXB] [nvarchar](50) NOT NULL,
	[NamThanhLap] [int] NOT NULL,
	[DiaChi] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_NHAXUATBAN] PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUONSACH]    Script Date: 4/16/2025 10:06:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUONSACH](
	[MaPhieuMuon] [int] IDENTITY(1,1) NOT NULL,
	[NgayMuon] [datetime] NOT NULL,
	[MaDocGia] [int] NULL,
 CONSTRAINT [PK_PHIEUMUONSACH] PRIMARY KEY CLUSTERED 
(
	[MaPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUTIEN]    Script Date: 4/16/2025 10:06:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUTIEN](
	[MaPhieuThuTien] [int] IDENTITY(1,1) NOT NULL,
	[SoTienNo] [float] NULL,
	[SoTienThu] [float] NULL,
	[MaDocGia] [int] NULL,
	[MaNhanVien] [int] NULL,
 CONSTRAINT [PK_PHIEUTHUTIEN] PRIMARY KEY CLUSTERED 
(
	[MaPhieuThuTien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 4/16/2025 10:06:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](40) NOT NULL,
	[AnhBia] [nvarchar](50) NULL,
	[ISBN] [varchar](20) NULL,
	[TacGia] [nvarchar](30) NULL,
	[NamXuatBan] [int] NULL,
	[MaNXB] [char](7) NULL,
	[TriGia] [float] NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 4/16/2025 10:06:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[TenThamSo] [nvarchar](40) NOT NULL,
	[GiaTri] [int] NULL,
 CONSTRAINT [PK_THAMSO] PRIMARY KEY CLUSTERED 
(
	[TenThamSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BANGCAP] ON 

INSERT [dbo].[BANGCAP] ([MaBangCap], [TenBangCap]) VALUES (1, N'Tiến sĩ')
INSERT [dbo].[BANGCAP] ([MaBangCap], [TenBangCap]) VALUES (2, N'Thạc sĩ')
INSERT [dbo].[BANGCAP] ([MaBangCap], [TenBangCap]) VALUES (3, N'Đại học')
SET IDENTITY_INSERT [dbo].[BANGCAP] OFF
GO
INSERT [dbo].[CHITIETPHIEUMUON] ([MaSach], [MaPhieuMuon]) VALUES (1, 1)
INSERT [dbo].[CHITIETPHIEUMUON] ([MaSach], [MaPhieuMuon]) VALUES (1, 2)
INSERT [dbo].[CHITIETPHIEUMUON] ([MaSach], [MaPhieuMuon]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[DOCGIA] ON 

INSERT [dbo].[DOCGIA] ([MaDocGia], [HoTenDocGia], [NgaySinh], [DiaChi], [Email], [NgayLapThe], [NgayHetHan], [TienNo]) VALUES (1, N'NGUYỄN HOÀNG MINH', CAST(N'1990-02-23T00:00:00.000' AS DateTime), N'41/4 CALMETTE Q1 TPHCM', N'hoangminh@yahoo.com', CAST(N'2000-12-30T00:00:00.000' AS DateTime), CAST(N'2012-12-30T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[DOCGIA] ([MaDocGia], [HoTenDocGia], [NgaySinh], [DiaChi], [Email], [NgayLapThe], [NgayHetHan], [TienNo]) VALUES (2, N'TRẦN VĂN CHÂU', CAST(N'1992-08-29T00:00:00.000' AS DateTime), N'TRẦN HƯNG ĐẠO Q1 TPHCM', N'vanchau@yahoo.com', CAST(N'2001-11-22T00:00:00.000' AS DateTime), CAST(N'2013-11-22T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[DOCGIA] ([MaDocGia], [HoTenDocGia], [NgaySinh], [DiaChi], [Email], [NgayLapThe], [NgayHetHan], [TienNo]) VALUES (3, N'NGUYỄN HOÀNG NAM', CAST(N'1980-02-21T00:00:00.000' AS DateTime), N'4 TRẦN ĐÌNH HƯNG Q1 TPHCM', N'hoangmNAM@yahoo.com', CAST(N'2001-12-22T00:00:00.000' AS DateTime), CAST(N'2012-12-30T00:00:00.000' AS DateTime), 150000)
SET IDENTITY_INSERT [dbo].[DOCGIA] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MaNhanVien], [HoTenNhanVien], [NgaySinh], [DiaChi], [DienThoai], [MaBangCap]) VALUES (1, N'PHẠM MINH VŨ', CAST(N'1980-01-24T00:00:00.000' AS DateTime), N'163/30 Thành Thái F.14 Q.10 TPHCM', N'0905646162', 1)
INSERT [dbo].[NHANVIEN] ([MaNhanVien], [HoTenNhanVien], [NgaySinh], [DiaChi], [DienThoai], [MaBangCap]) VALUES (2, N'NGUYỄN MINH THÀNH', CAST(N'1983-04-05T00:00:00.000' AS DateTime), N'41/4 CALMETTE Q1 TPHCM', N'0908373612', 2)
INSERT [dbo].[NHANVIEN] ([MaNhanVien], [HoTenNhanVien], [NgaySinh], [DiaChi], [DienThoai], [MaBangCap]) VALUES (3, N'NGUYỄN HÀ MY', CAST(N'1985-04-13T00:00:00.000' AS DateTime), N'178 NAM KỲ KHỞI NGHĨA Q4 TPHCM', N'0908783274', 3)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
INSERT [dbo].[NHAXUATBAN] ([MaNXB], [TenNXB], [NamThanhLap], [DiaChi]) VALUES (N'DHSPHCM', N'NXB ĐH Sư phạm TPHCM', 2012, N'280 An Dương Vương')
INSERT [dbo].[NHAXUATBAN] ([MaNXB], [TenNXB], [NamThanhLap], [DiaChi]) VALUES (N'NXBATRE', N'NXB Trẻ', 1999, N'171 Lý Chính Thắng Q3 HCM')
GO
SET IDENTITY_INSERT [dbo].[PHIEUMUONSACH] ON 

INSERT [dbo].[PHIEUMUONSACH] ([MaPhieuMuon], [NgayMuon], [MaDocGia]) VALUES (1, CAST(N'2023-11-22T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[PHIEUMUONSACH] ([MaPhieuMuon], [NgayMuon], [MaDocGia]) VALUES (2, CAST(N'2025-04-16T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[PHIEUMUONSACH] ([MaPhieuMuon], [NgayMuon], [MaDocGia]) VALUES (3, CAST(N'2025-04-16T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[PHIEUMUONSACH] OFF
GO
SET IDENTITY_INSERT [dbo].[SACH] ON 

INSERT [dbo].[SACH] ([MaSach], [TenSach], [AnhBia], [ISBN], [TacGia], [NamXuatBan], [MaNXB], [TriGia], [NgayNhap]) VALUES (1, N'Công Nghệ Phần mềm', N'sssssss', N'1212712', N'Lương Trần Hy Hiến', 2023, N'DHSPHCM', 55000, CAST(N'2025-04-16T01:41:22.660' AS DateTime))
INSERT [dbo].[SACH] ([MaSach], [TenSach], [AnhBia], [ISBN], [TacGia], [NamXuatBan], [MaNXB], [TriGia], [NgayNhap]) VALUES (2, N'Cấu trúc Dữ liệu', NULL, NULL, N'Lương Trần Ngọc Khiết', 2022, N'DHSPHCM', 55000, CAST(N'2022-12-03T00:00:00.000' AS DateTime))
INSERT [dbo].[SACH] ([MaSach], [TenSach], [AnhBia], [ISBN], [TacGia], [NamXuatBan], [MaNXB], [TriGia], [NgayNhap]) VALUES (8, N'Lập trình hướng đối tượng', N'https/', N'1212712', N'Trịnh Trung Hiển', 2025, N'NXBATRE', 3000001, CAST(N'2025-04-16T01:22:05.193' AS DateTime))
SET IDENTITY_INSERT [dbo].[SACH] OFF
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUMUON_PHIEUMUONSACH] FOREIGN KEY([MaPhieuMuon])
REFERENCES [dbo].[PHIEUMUONSACH] ([MaPhieuMuon])
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON] CHECK CONSTRAINT [FK_CHITIETPHIEUMUON_PHIEUMUONSACH]
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUMUON_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SACH] ([MaSach])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON] CHECK CONSTRAINT [FK_CHITIETPHIEUMUON_SACH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH NOCHECK ADD  CONSTRAINT [FK_NHANVIEN_BANGCAP] FOREIGN KEY([MaBangCap])
REFERENCES [dbo].[BANGCAP] ([MaBangCap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_BANGCAP]
GO
ALTER TABLE [dbo].[PHIEUMUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUONSACH_DOCGIA] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DOCGIA] ([MaDocGia])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUMUONSACH] CHECK CONSTRAINT [FK_PHIEUMUONSACH_DOCGIA]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUTIEN_DOCGIA] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DOCGIA] ([MaDocGia])
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [FK_PHIEUTHUTIEN_DOCGIA]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUTIEN_NHANVIEN] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [FK_PHIEUTHUTIEN_NHANVIEN]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NHAXUATBAN] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NHAXUATBAN] ([MaNXB])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NHAXUATBAN]
GO
USE [master]
GO
