@model NET_Midterm2025.Models.DTOs.SachCreateDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sach</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenSach" class="control-label"></label>
                <input asp-for="TenSach" class="form-control" />
                <span asp-validation-for="TenSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnhBia" class="control-label"></label>
                <input asp-for="AnhBia" class="form-control" />
                <span asp-validation-for="AnhBia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isbn" class="control-label"></label>
                <input asp-for="Isbn" class="form-control" />
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TacGia" class="control-label"></label>
                <input asp-for="TacGia" class="form-control" />
                <span asp-validation-for="TacGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamXuatBan" class="control-label"></label>
                <input asp-for="NamXuatBan" class="form-control" />
                <span asp-validation-for="NamXuatBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNxb" class="control-label"></label>
                <select asp-for="MaNxb" class ="form-control" asp-items="ViewBag.MaNxb"></select>
            </div>
            <div class="form-group">
                <label asp-for="TriGia" class="control-label"></label>
                <input asp-for="TriGia" class="form-control" />
                <span asp-validation-for="TriGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
